@import molecules/mixins
@import molecules/reset
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins
@import ../bower_components/breakpoint-sass/stylesheets/breakpoint


body
	header
		+clearfix
		min-width: 100%
		min-height: 800px

		background:
			image: url("../images/slider_principal.jpg")
			position: top center
			repeat: no-repeat
			color: $azul
			attachment: fixed
			size: cover 

		.barra-menu
			background-color: rgb(255, 255, 255)
			opacity: 0.702
			min-width: auto
			height: 90px
			position: fixed
			right: 0
			left: 0
			top: 0px


		.logo
			float: left
			img
				width: 225px
				height: 75px
				margin-top: 5px

		.links
			margin-top: 20px

		.links
			float: right
			margin-right: 50px

			nav,
			.social
				display: inline-block
				
			nav
				li
					display: inline-block
					margin-left: 30px

					a 
						color: $azul
						text-transform: uppercase
						font-family: Amatic SC
						font-size: 30px
							
			.social
				float: right
				li
					display: inline-block
					margin-left: 30px
					a 
						color: $preto
						display: block
						text-align: center
						margin-top: 7px








	footer

		+clearfix
		background-color: $verde
		width: auto
		heigth: 230px

		p
			text-align: center
			font-weight: bold


		.logoFooter

			width: 25%
			float: left
			img
				
				
				margin-left: 50px
				margin-right auto

		.contatos

			
			.telefone
				img
				 
				p


			.whattsapp
				img

				p
			

			.redesSociais

		.backTopo	
			width: 25%
			float: right
			
			a
			
			img	


				
		