@import molecules/mixins
@import molecules/reset
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables
@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins
@import ../bower_components/breakpoint-sass/stylesheets/breakpoint
@import ../bower_components/font-awesome/scss/font-awesome
@import ../bower_components/sass-flex-mixin/flex


body
	header
		+clearfix
		min-width: 100%
		min-height: 800px

		background:
			image: url("../images/slider_principal.jpg")
			position: top center
			repeat: no-repeat
			color: $azul
			attachment: fixed
			size: cover
		
		+breakpoint($celular)
			min-width: 100%
			min-height: 700px
		
		.barraMenu
			background-color: rgba(255, 255, 255, 0.900)
			min-width: 100% 
			top: 0px
			height: 90px
			padding-left: 100px
			padding-right: 100px
			+breakpoint($celular)
				padding-left: 0
				padding-right: 0
			


		.logo
			float: left

			img
				width: 225px
				height: 75px
				margin-top: 5px

		.links
			float: right
			margin-top: 20px

			nav,
			.social
				display: inline-block
				
			nav
				+breakpoint($tablet)
					display: none

				+breakpoint($celular)
					display: none


				ul
					li
						display: inline-block
						margin-left: 30px

						a 
							color: $azul
							font-family: alienleague
							text-transform: lowercase
							font-size: 30px
							
			.social
				float: right
				li
					display: inline-block
					margin-left: 30px
					a 
						color: $preto
						display: block
						text-align: center
						margin-top: 7px

		.texto
			h1
				margin-top: 200px
				font-family: Nissan Brand Light
				letter-spacing: 5px
				line-height: 80px
				text-align: center
				font-size: 5em
				color: #1b1464
				+breakpoint($celular)
					+font-size(40px)
					letter-spacing: 3px
					line-height: 40px
					margin-top: 160px






	footer
		+clearfix
		background-color: $verde
		min-width: 100%
		min-height: 200px


		.logoFooter
			img	

		
		.contatos
			ul	
				li
					display: table
					margin-left: 10px
					i
						display: inline-block
						p 
							display:block
							color: $preto
							text-align: center
			
		
		.backTopo
			float: right

			.redesSociais
				clear: both
				display: table 	
				li
					display: inline-block
					margin-left: 30px
					a 
						color: $preto
						display: table
						text-align: center
						
						+breakpoint($celular)

		.textoRodape
			p 
				text-align: center
				margin-top: 50px
		
